{
  "name": "psl-1-0",
  "version": "1.0.0",
  "description": "Example project using PowerShield License (PSL 1.0)",
  "license": "LicenseRef-PSL-1.0",
  "author": "Madalbekov Muras",
  "repository": {
    "type": "git",
    "url": "https://github.com/TimurFilchenko/License-PSL-1.0/tree/main"
  }
}
